@font-face {
	src: url(../../nicokaku_v1.ttf);
	font-family: 'MyFont';
}

@font-face {
	src: url(../../07やさしさゴシック.ttf);
	font-family: 'heading';
}

fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #0397de;
	color: #fff;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-header {
	width: 100%;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 1050px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}

.application {
	background-color: #4986d9;
	padding-bottom: 6.25rem;
	padding-top: 6.25rem;
	position: relative;
}

.application__list {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.75rem;
	max-width: 51.875rem;
	width: 100%;
}

.application__item {
	border-top: 0.0625rem solid #fff;
	display: flex;
	padding-bottom: 1.25rem;
	padding-left: 1.25rem;
	padding-top: 1.25rem;
}

.application__item:last-child {
	border-bottom: 0.0625rem solid #fff;
}

.application__head {
	font-size: 1.125rem;
	font-weight: bold;
	width: 25%;
}

.application__detail {
	font-size: 1.125rem;
	width: 75%;
}

.application__text {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.75;
	margin-top: 3.75rem;
	text-align: center;
}

.application__backImage {
	bottom: 0;
	height: auto;
	position: absolute;
	width: 12.5rem;
}

.application__backImage img {
	height: 100%;
	width: 100%;
}

.application__backImage.left {
	left: 50%;
	transform: translateX(-200%);
}

.application__backImage.right {
	right: 50%;
	transform: translateX(200%);
}

.article {
	background-color: #fff;
	border: 0.125rem solid #333;
	color: #333;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.625rem;
	max-width: 56.25rem;
	padding: 2.5rem;
	width: 100%;
}

.article__title {
	margin-top: 0.3125rem;
}

.article__information {
	align-items: center;
	border-bottom: 0.125rem dashed #0397de;
	display: flex;
	margin-top: 0.9375rem;
	padding-bottom: 2.5rem;
}

.article .member-blog__author {
	margin-top: 0;
	padding-left: 0;
}

.article__contentWrap {
	margin-top: 2.5rem;
	padding-left: 0.3125rem;
	padding-right: 0.3125rem;
}

.article__contentWrap p {
	font-size: 1.125rem;
	line-height: 1.75;
	margin-bottom: 2.1875rem;
}

.article__contentWrap h2 {
	margin-bottom: 1.25rem;
	padding-left: 0.625rem;
	position: relative;
}

.article__contentWrap h2:before {
	background-color: #0397de;
	content: "";
	height: 2.5rem;
	left: -0.625rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0.1875rem;
}

.article__contentWrap figure.wp-block-image {
	margin-bottom: 2.1875rem;
}

.breadcrumbs {
	margin: 5rem auto 0 auto;
	max-width: 56.25rem;
}

.btn {
	border: 0.1875rem solid #fff;
	border-radius: 1.25rem;
	font-family: "heading";
	font-size: 1rem;
	padding: 0.4375rem 2.5rem;
	transition: all .3s;
}

.btn__wrap {
	margin-top: 4.375rem;
	text-align: center;
}

.btn__wrap--member-page {
	margin-top: 1.875rem;
}

.btn.block {
	border-radius: 3.125rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25rem;
}

.btn.official {
	background-color: #fff100;
	border-color: #fff100;
	color: #0397de;
	font-size: 1.5rem;
	position: relative;
	width: 31.25rem;
}

.btn.official::after {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #0397de;
	border-style: solid;
	border-width: 0.375rem 0rem 0.375rem 0.625rem;
	content: '';
	height: 0;
	position: absolute;
	right: 1.875rem;
	top: 50%;
	transform: translateY(-50%);
	transition: all .3s;
	width: 0;
}

.btn.official:hover {
	background-color: #0397de;
	color: #fff100;
}

.btn.official:hover::after {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff100;
}

.btn:hover {
	background-color: #fff;
	color: #0397de;
}

.contact {
	background-color: #0397de;
	border-bottom: 0.0625rem dotted #fff;
	margin-left: auto;
	margin-right: auto;
	max-width: 65rem;
	padding: 6.25rem 1.25rem 7.5rem 1.25rem;
	width: 100%;
}

.contact__btns {
	display: block;
	display: flex;
	margin-top: 5rem;
}

.contact__btn {
	align-items: center;
	background-color: #fff;
	display: flex;
	height: 15.625rem;
	justify-content: center;
	margin-right: 2.5rem;
	padding: 1.25rem;
	position: relative;
	transition: all .3s;
	width: 31.25rem;
}

.contact__btn:last-child {
	margin-right: 0;
}

.contact__btn::after {
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 0.625rem;
	content: "";
	height: 1.875rem;
	position: absolute;
	right: 0.625rem;
	width: 1.875rem;
}

.contact__btn:hover {
	border-color: transparent;
	box-shadow: 0 0.4375rem 0.625rem rgba(0, 0, 0, 0.3);
}

.contact__text {
	color: #4986d9;
	font-family: "MyFont";
	font-size: 2.5rem;
	line-height: 1.5;
	text-align: center;
}

.flow-nav {
	background-color: #fff;
	color: #333;
	font-family: 'MyFont';
	left: 0;
	padding: 0.3125rem 1.25rem;
	position: fixed;
	right: 0;
	top: -100%;
	transition: all .3s;
	width: 100%;
	z-index: 9999;
}

.flow-nav__inner {
	align-items: center;
	display: flex;
	justify-content: right;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	max-width: 67.5rem;
	position: relative;
	width: 100%;
}

.flow-nav__logo {
	display: block;
	height: auto;
	left: 0;
	top: -0.9375rem;
	width: 9.375rem;
}

.flow-nav__logo img {
	height: 100%;
	width: 100%;
}

.flow-nav__nav {
	margin-right: 1.5625rem;
}

.flow-nav__navList {
	align-items: center;
	display: flex;
}

.flow-nav__navItem {
	font-size: 1rem;
	padding: 0 0.9375rem;
}

.flow-nav__snsList {
	align-items: center;
	display: flex;
}

.flow-nav__sns {
	height: auto;
	margin-right: 0.9375rem;
	width: 2.1875rem;
}

.flow-nav__sns:last-child {
	margin-right: 0;
}

.flow-nav__sns img {
	height: 100%;
	width: 100%;
}

.flow {
	padding-bottom: 6.25rem;
	padding-top: 6.25rem;
	position: relative;
}

.flow__list {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	max-width: 43.75rem;
	width: 100%;
}

.flow__item {
	margin-top: 6.25rem;
	padding-left: 5rem;
	position: relative;
}

.flow__item:first-child {
	margin-top: 0;
}

.flow__item::after {
	border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 1.25rem 0.75rem 0 0.75rem;
	bottom: -3.75rem;
	content: '';
	height: 0;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 0;
}

.flow__item:last-child::after {
	display: none;
}

.flow__head {
	font-size: 1.375rem;
	font-weight: bold;
	position: relative;
}

.flow__head::before {
	bottom: -40%;
	color: white;
	content: attr(data-number);
	font-size: 50px;
	left: -5rem;
	position: absolute;
}

.flow__head::after {
	background-image: repeating-linear-gradient(90deg, #fff 0, #fff 0.5rem, rgba(0, 0, 0, 0) 0.5rem, rgba(0, 0, 0, 0) 0.75rem);
	bottom: 0rem;
	content: '';
	height: 0.0625rem;
	left: -5rem;
	position: absolute;
	width: 21.875rem;
}

.flow__text {
	font-size: 1.125rem;
	margin-top: 1.25rem;
}

.flow__text a {
	text-decoration: underline;
}

.flow__text a:hover {
	color: #fff100;
}

.flow__backImage {
	bottom: 0;
	height: auto;
	left: 50%;
	position: absolute;
	transform: translateX(-200%);
	width: 15.625rem;
}

.flow__backImage img {
	height: 100%;
	width: 100%;
}

.footer {
	padding: 3.75rem 1.25rem;
}

.footer__inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 56.25rem;
	width: 100%;
}

.footer__logo {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: 6.25rem;
}

.footer__logo img {
	height: 100%;
	width: 100%;
}

.footer__nav {
	display: flex;
	font-family: "heading";
	justify-content: space-between;
	margin-top: 2.5rem;
}

.footer__navLeft {
	display: flex;
}

.footer__navHead {
	font-size: 1.25rem;
	padding-left: 0.9375rem;
	position: relative;
}

.footer__navHead::before {
	background-image: url(../img/arrow-down.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 1.0625rem;
	left: -1.25rem;
	position: absolute;
	top: 50%;
	transform: translateY(-55%);
	width: 1.1875rem;
}

.footer__navListWrap {
	margin-right: 5rem;
}

.footer__navList {
	margin-top: 1.25rem;
}

.footer__navItem {
	font-size: 1rem;
	margin-top: 0.9375rem;
}

.footer__copyright {
	font-family: "heading";
	font-size: 0.75rem;
	margin-top: 3.75rem;
	text-align: center;
}

.fv {
	padding-top: 1.875rem;
}

/*==================================================
スライダーのためのcss
===================================*/

.slider { /*横幅94%で左右に余白を持たせて中央寄せ*/
	width: 100%;
}

.slider img { /*スライダー内の画像を60vwにしてレスポンシブ化*/
	height: auto;
	width: 65vw;
}

.slider .slick-slide { /*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;
	transition: all .5s; /*透過50%*/
}

.slider .slick-slide.slick-center { /*中央の画像のサイズだけ等倍に*/
	opacity: 1;
	transform: scale(1); /*透過なし*/
}

/*ドットナビゲーションの設定*/

.slick-dots {
	margin-top: 1.25rem;
	text-align: center;
}

.slick-dots li {
	display: inline-block;
	margin: 0 0.625rem;
}

.slick-dots button {
	background-color: #0397de;
	border: none;
	color: transparent; /*ドットボタンのサイズ*/
	display: block; /*ドットボタンのサイズ*/
	height: 1.25rem;
	outline: none;
	position: relative;
	width: 1.25rem;
}

.slick-dots button::after {
	background-image: url(../img/fish.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all .3s;
	width: 100%;
}

.slick-dots .slick-active button::after {
	background-image: url(../img/fish-black.png);
}

.g-nav__navHead {
	font-size: 1.125rem;
	padding-left: 0.625rem;
	position: relative;
}

.g-nav__navHead::before {
	background-image: url(../img/arrow-down.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 1.0625rem;
	left: -1.25rem;
	position: absolute;
	top: 50%;
	transform: translateY(-55%);
	width: 1.1875rem;
}

.g-nav__navListWrap {
	color: #fff;
	font-family: "heading";
	margin-left: 3.125rem;
	margin-top: 2.5rem;
}

.g-nav__navListWrap:last-child {
	margin-bottom: 2.5rem;
}

.g-nav__navList {
	margin-top: 1.25rem;
}

.g-nav__navItem {
	font-size: 0.875rem;
	margin-top: 0.9375rem;
}

/*========= ナビゲーションのためのCSS ===============*/

#g-nav { /*ナビの高さ*/
	background-color: #0397de;
	height: 100vh; /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
	position: fixed;
	right: -120%; /*ナビのスタート位置と形状*/
	top: 0; /*動き*/
	transition: all 0.6s;
	width: 100%;
	z-index: 999;
}

/*アクティブクラスがついたら位置を0に*/

#g-nav.panelactive {
	right: 0;
}

/*ナビゲーションの縦スクロール*/

#g-nav.panelactive #g-nav-list {
	-webkit-overflow-scrolling: touch;
	height: 100vh; /*表示する高さ*/
	overflow: auto; /*ナビの数が増えた場合縦スクロール*/
	position: fixed;
	width: 100%;
	z-index: 999;
}

/*========= ボタンのためのCSS ===============*/

.openbtn { /*ボタンを最前面に*/
	cursor: pointer;
	display: none;
	height: 3.125rem;
	position: relative;
	width: 3.125rem;
	z-index: 9999;
}

/*×に変化*/

.openbtn span {
	background-color: #0397de;
	border-radius: 2px;
	display: inline-block;
	height: 0.125rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	transition: all .4s;
	width: 65%;
}

.openbtn span:nth-of-type(1) {
	top: 0.75rem;
}

.openbtn span:nth-of-type(2) {
	top: 1.4375rem;
}

.openbtn span:nth-of-type(3) {
	top: 2.125rem;
}

.openbtn.active span:nth-of-type(1) {
	background-color: #fff;
	left: 18px;
	top: 18px;
	transform: translateY(6px) rotate(-45deg);
	width: 60%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
	background-color: #fff;
	left: 18px;
	top: 30px;
	transform: translateY(-6px) rotate(45deg);
	width: 60%;
}

.header {
	background-color: #fff;
	color: #333;
	font-family: 'MyFont';
	padding: 1.25rem;
}

.header__inner {
	align-items: center;
	display: flex;
	justify-content: right;
	margin-left: auto;
	margin-right: auto;
	max-width: 67.5rem;
	position: relative;
	width: 100%;
}

.header__logo {
	display: block;
	height: auto;
	left: 0;
	position: absolute;
	top: -0.9375rem;
	width: 15rem;
}

.header__logo img {
	height: 100%;
	width: 100%;
}

.header__nav {
	margin-right: 1.5625rem;
}

.header__navList {
	align-items: center;
	display: flex;
}

.header__navItem {
	font-size: 1rem;
	padding: 0 0.9375rem;
}

.header__snsList {
	align-items: center;
	display: flex;
}

.header__sns {
	height: auto;
	margin-right: 0.9375rem;
	width: 2.1875rem;
}

.header__sns:last-child {
	margin-right: 0;
}

.header__sns img {
	height: 100%;
	width: 100%;
}

.information {
	background-color: #fff;
	border: 0.125rem solid #333;
	color: #333;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.875rem;
	max-width: 56.25rem;
	position: relative;
	transition: all .3s;
	width: 100%;
}

.information a {
	display: block;
	padding: 2.5rem;
}

.information__text {
	font-size: 1.125rem;
	font-weight: bold;
}

.information__media {
	align-items: center;
	display: flex;
	margin-top: 1.875rem;
}

.information__author {
	border-right: 0.125rem dashed #0397de;
	margin-right: 3.75rem;
	padding-right: 3.75rem;
	width: 30%;
}

.information__icon {
	height: auto;
	width: 100%;
}

.information__icon img {
	height: 100%;
	width: 100%;
}

.information__name {
	border-bottom: 0.125rem dashed #0397de;
	display: inline-block;
	font-size: 1.125rem;
	font-weight: bold;
}

.information__introText {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	margin-top: 1.25rem;
}

.information:hover {
	box-shadow: 0 0.4375rem 0.625rem rgba(0, 0, 0, 0.3);
}

.information__arrow {
	bottom: 0.625rem;
	color: #333;
	font-size: 1rem;
	font-weight: bold;
	position: absolute;
	right: 1.25rem;
}

.instagram {
	background-color: #fff;
	padding-bottom: 6.25rem;
	padding-top: 6.25rem;
}

.instagram__inner {
	margin-top: 5rem;
}

.instagram__imageItem {
	height: 15rem;
	margin-left: 0.3125rem;
	margin-right: 0.3125rem;
	width: 15rem;
}

.instagram__imageItem img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.instagram__buttonWrap {
	margin-top: 3.75rem;
	text-align: center;
}

.instagram__button {
	color: #4986d9;
	font-family: "heading";
	font-size: 1rem;
	padding-left: 1.875rem;
	position: relative;
}

.instagram__button::before {
	background-image: url(../img/instagram.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 1.875rem;
	left: -0.625rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1.875rem;
}

.member-blog {
	background-color: #4986d9;
	padding: 6.25rem 0.9375rem;
}

.member-blog__list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: -3.75rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	max-width: 67.5rem;
	width: 100%;
}

.member-blog__item {
	background-color: #fff;
	border: 0.125rem solid #333;
	color: #333;
	margin-bottom: 3.75rem;
	margin-right: 1.7%;
	padding: 0.625rem;
	width: 32.2%;
}

.member-blog__item:nth-of-type(3n) {
	margin-right: 0;
}

.member-blog__image {
	font-size: 0;
	height: 13.75rem;
	position: relative;
	width: 100%;
}

.member-blog__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.member-blog__image .new {
	height: auto;
	left: 0;
	position: absolute;
	top: 0;
	transform: translate(-15%, -30%);
	width: 5rem;
}

.member-blog__date {
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
	font-size: 0.9375rem;
	margin-bottom: 0.625rem;
	margin-top: 0.9375rem;
}

.member-blog__title {
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
	font-size: 1rem;
}

.member-blog__author {
	align-items: center;
	display: flex;
	margin-top: 0.9375rem;
	padding-left: 0.3125rem;
}

.member-blog__icon {
	height: 3.125rem;
	margin-right: 0.9375rem;
	width: 3.125rem;
}

.member-blog__icon img {
	-o-object-fit: cover;
	-o-object-position: center;
	border-radius: 1.5625rem;
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.member-blog__name {
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
	font-size: 0.9375rem;
}

.member-introduce {
	padding-top: 2.5rem;
}

.member-introduce__text {
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1.75;
	margin-top: 2.5rem;
	text-align: center;
}

.member-introduce__text .sp {
	display: none;
}

.member-introduce__linkTextWrap {
	margin-top: 2.5rem;
	text-align: center;
}

.member-introduce__linkText {
	font-size: 1rem;
	text-decoration: underline;
}

.member-introduce__listWrap {
	background-color: #00b8ff;
	margin-top: 2.5rem;
	padding: 2.5rem 0.9375rem;
}

.member-introduce__list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -1.25rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 49.375rem;
	width: 100%;
}

.member-introduce__item {
	margin-bottom: 1.25rem;
	margin-right: 1.25rem;
}

.member-introduce__item:nth-of-type(3n) {
	margin-right: 0;
}

.member-introduce__link {
	background-color: #fff;
	border: 0.125rem solid #333;
	display: block;
	min-height: 100%;
	padding: 0.625rem 0.625rem 0.3125rem 0.625rem;
	position: relative;
	text-align: center;
	width: 15.625rem;
}

.member-introduce__image {
	height: 10.3125rem;
	width: 100%;
}

.member-introduce__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.member-introduce__name {
	color: #333;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.9375rem;
}

.member-introduce__from {
	color: #333;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.3125rem;
}

.member-introduce__favorite {
	color: #333;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.3125rem;
}

.member-introduce__arrow {
	color: #333;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.3125rem;
	text-align: right;
}

.member {
	background-color: #12a9e0;
	padding-bottom: 6.25rem;
	padding-top: 6.25rem;
	position: relative;
}

.member__list {
	margin-top: 5rem;
	width: 100%;
}

.member__link {
	background-color: #fff;
	border: 0.125rem solid #333;
	display: block;
	margin: 0 0.625rem;
	min-height: 100%;
	padding: 0.625rem 0.625rem 0.3125rem 0.625rem;
	position: relative;
	text-align: center;
	width: 15.625rem;
}

.member__image {
	height: 10.3125rem;
	width: 100%;
}

.member__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.member__name {
	color: #333;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.9375rem;
}

.member__from {
	color: #333;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.3125rem;
}

.member__favorite {
	color: #333;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.3125rem;
}

.member__arrow {
	color: #333;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.3125rem;
	text-align: right;
}

.member::after {
	background-image: url(../img/Official-tsuri-bijyo-members.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 6.375rem;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translate(-30rem, -50%);
	width: 23.25rem;
}

.message {
	background-color: #4986d9;
	padding-bottom: 6.25rem;
	padding-top: 6.25rem;
}

.message__main {
	background-color: #fff;
	border: 0.125rem solid #333;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.75rem;
	max-width: 43.75rem;
	padding: 2.5rem;
	width: 100%;
}

.message__text {
	color: #333;
	font-size: 1rem;
	font-weight: bold;
}

.news {
	padding: 7.5rem 1.25rem 6.25rem 1.25rem;
}

.news__list {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.75rem;
	max-width: 39.0625rem;
	width: 100%;
}

.news__item {
	align-items: flex-start;
	border-bottom: 0.125rem dashed #fff;
	display: flex;
	font-family: "heading";
	font-size: 1.125rem;
	margin-top: 0.625rem;
}

.news__date {
	margin-right: 2.5rem;
}

.news__bannerArea {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: -2.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.75rem;
	max-width: 65rem;
	width: 100%;
}

.news__banner {
	display: block;
	height: auto;
	margin-bottom: 2.5rem;
	margin-right: 2.5rem;
	width: 31.25rem;
}

.news__banner:nth-of-type(2n) {
	margin-right: 0;
}

.news__banner img {
	height: 100%;
	width: 100%;
}

.pickup {
	background-color: #00b8ff;
	padding: 6.25rem 0.9375rem;
	position: relative;
}

.pickup__inner {
	margin-top: 5rem;
}

.pickup__media {
	align-items: center;
	background-color: #fff;
	border: 0.125rem solid #333;
	color: #333;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.75rem;
	max-width: 65.625rem;
	padding: 0.625rem;
	width: 100%;
}

.pickup__image {
	font-size: 0;
	height: 19.6875rem;
	margin-right: 1.875rem;
	position: relative;
	width: 31.25rem;
}

.pickup__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.pickup__image .new {
	height: auto;
	left: 0;
	position: absolute;
	top: 0;
	transform: translate(-7%, -7%);
	width: 5.625rem;
}

.pickup__body {
	padding-right: 0.625rem;
	width: 31.25rem;
}

.pickup__date {
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
	font-size: 1.5rem;
	margin-bottom: 0.625rem;
}

.pickup__title {
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
	font-size: 1.5rem;
}

.pickup__description {
	font-size: 1rem;
	margin-top: 0.9375rem;
}

.pickup__author {
	align-items: center;
	display: flex;
	margin-top: 2.1875rem;
}

.pickup__icon {
	height: 4.375rem;
	margin-right: 0.9375rem;
	width: 4.375rem;
}

.pickup__icon img {
	-o-object-fit: cover;
	-o-object-position: center;
	border-radius: 2.1875rem;
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.pickup__name {
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
	font-size: 1.125rem;
}

.pickup::after {
	background-image: url(../img/Members-blog.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 6.75rem;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translate(17.5rem, -50%);
	width: 13.25rem;
}

.profile-btn {
	margin-top: 3.75rem;
}

.profile-btn a {
	align-items: center;
	background-color: #fff;
	color: #4986d9;
	display: flex;
	font-family: "MyFont";
	font-size: 2rem;
	height: 9.375rem;
	justify-content: center;
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;
	padding: 1.25rem;
	position: relative;
	text-align: center;
	transition: all .3s;
	width: 31.25rem;
}

.profile-btn a::after {
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 0.625rem;
	content: "";
	height: 1.875rem;
	position: absolute;
	right: 0.625rem;
	width: 1.875rem;
}

.profile-btn a:hover {
	border-color: transparent;
	box-shadow: 0 0.4375rem 0.625rem rgba(0, 0, 0, 0.3);
}

.profile-btn a .sp {
	display: none;
}

.profile-contents {
	padding-bottom: 6.25rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 5rem;
}

.profile-contents__media {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

.profile-contents__slider {
	height: 37.5rem;
	margin-right: 2.5rem;
	width: 31.25rem;
}

.profile-contents__image {
	height: 32.5rem;
	width: 31.25rem;
}

.profile-contents__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.profile-contents__body {
	background-color: #fff;
	border: 0.125rem solid #333;
	color: #333;
	font-weight: bold;
	height: 35.625rem;
	padding: 2.5rem;
	width: 25rem;
}

.profile-contents__name {
	border-bottom: 0.125rem dashed #0397de;
	display: inline;
	font-size: 2rem;
}

.profile-contents__list {
	margin-top: 2.5rem;
}

.profile-contents__item {
	border-bottom: 0.125rem dashed #0397de;
	display: flex;
	margin-top: 1.5625rem;
}

.profile-contents__head {
	font-size: 1.125rem;
	font-weight: bold;
	width: 40%;
}

.profile-contents__value {
	font-size: 1.125rem;
	width: 60%;
}

.profile-introduce {
	background-color: #00b8ff;
	padding-bottom: 6.25rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 6.25rem;
}

.profile-introduce__content {
	background-color: #fff;
	border: 0.125rem solid #333;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	max-width: 43.75rem;
	padding: 2.5rem;
	width: 100%;
}

.profile-introduce__text {
	color: #333;
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1.5;
}

.profile-link {
	background-color: #12a9e0;
	padding-bottom: 6.25rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 6.25rem;
}

.profile-link__list {
	background-color: #fff;
	border: 0.125rem solid #333;
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	max-width: 53.125rem;
	padding: 2.5rem 0rem 0 2.5rem;
	width: 100%;
}

.profile-link__item {
	margin-bottom: 3.125rem;
	margin-right: 4%;
	width: 22%;
}

.profile-link__item:nth-of-type(4n) {
	margin-right: 0;
}

.profile-link__item a {
	color: #333;
	font-size: 1.125rem;
	font-weight: bold;
	padding-left: 3.125rem;
	position: relative;
}

.profile-link__item a::before {
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 1.875rem;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1.875rem;
}

.profile-link__item a[href=""] {
	opacity: .2;
	pointer-events: none;
}

.profile-link__item.instagram-link a::before {
	background-image: url(../img/instagram.svg);
}

.profile-link__item.twitter a::before {
	background-image: url(../img/Twitter.svg);
}

.profile-link__item.youtube a::before {
	background-image: url(../img/Youtube.svg);
}

.profile-link__item.tiktok a::before {
	background-image: url(../img/tiktok.svg);
}

.profile-link__item.line a::before {
	background-image: url(../img/line_icon.svg);
}

.profile-link__item.room a::before {
	background-image: url(../img/room.png);
}

.profile-link__item.amazon a::before {
	background-image: url(../img/amazon.svg);
}

.profile-link__item.only-link a {
	padding-left: 1.5625rem;
}

.profile-link__item.only-link a::before {
	content: none;
}

.question {
	background-color: #fff;
	color: #333;
	padding-bottom: 6.25rem;
	padding-top: 6.25rem;
	position: relative;
}

.question__backImage {
	bottom: 0;
	height: auto;
	position: absolute;
	width: 15.625rem;
	z-index: 0;
}

.question__backImage img {
	height: 100%;
	width: 100%;
}

.question__backImage.left {
	left: 50%;
	transform: translateX(-200%);
}

.question__backImage.right {
	right: 50%;
	transform: translateX(200%);
}

/*アコーディオン全体*/

.accordion-area {
	list-style: none;
	margin: 0 auto;
	margin-top: 3.75rem;
	max-width: 43.75rem;
	position: relative;
	z-index: 3;
}

.accordion-area li {
	background-color: #fff;
	border: 0.125rem solid #0397de;
	border-radius: 1.25rem;
	margin: 0.625rem 0;
}

/*アコーディオンタイトル*/

.title { /*+マークの位置基準とするためrelative指定*/
	cursor: pointer;
	font-size: 1.125rem;
	font-weight: bold;
	padding: 3% 5%;
	position: relative;
	transition: all .5s ease;
}

.title span {
	font-size: 1.375rem;
	margin-right: 0.9375rem;
}

.title::after {
	border-color: #333 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 0.625rem 0.375rem 0 0.375rem;
	content: '';
	height: 0;
	position: absolute;
	right: 1.875rem;
	top: 50%;
	transform: translateY(-50%);
	transition: all .3s;
	width: 0;
}

/*　closeというクラスがついたら形状変化　*/

.title.close::after {
	transform: translateY(-50%) rotate(-180deg);
}

/*アコーディオンで現れるエリア*/

.box {
	display: none;
	font-size: 1rem; /*はじめは非表示*/
	margin: 0 3% 3% 3%;
	padding: 0 3% 3% 3%;
}

.recommend {
	background-color: #4986d9;
	margin-top: 6.25rem;
	padding: 6.25rem 1.25rem;
}

.recommend__heading {
	border-bottom: 0.125rem dashed #fff;
	font-family: "heading";
	font-size: 2rem;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	max-width: 56.25rem;
	padding-bottom: 0.9375rem;
	text-align: center;
	width: 100%;
}

.recommend__bannerArea {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: -2.5rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 65rem;
	width: 100%;
}

.recommend__banner {
	display: block;
	height: auto;
	margin-bottom: 2.5rem;
	margin-right: 2.5rem;
	width: 31.25rem;
}

.recommend__banner:nth-of-type(2n) {
	margin-right: 0;
}

.recommend__banner img {
	height: 100%;
	width: 100%;
}

.recruit-title {
	align-items: center;
	display: flex;
	height: calc(100vh - 75px);
	justify-content: center;
	position: relative;
	width: 100%;
}

.recruit-title__logo {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: 10.9375rem;
}

.recruit-title__logo img {
	height: 100%;
	width: 100%;
}

.recruit-title h1 {
	border-bottom: 0.125rem dashed #fff;
	font-size: 2.25rem;
	margin-top: 1.875rem;
	position: relative;
	text-align: center;
}

.recruit-title h1::after {
	-webkit-animation: updown 2s infinite ease-in-out;
	animation: updown 2s infinite ease-in-out;
	border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 0.625rem 0.375rem 0 0.375rem;
	bottom: -3.75rem;
	content: '';
	height: 0;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 0;
}

.recruit {
	background-color: #fff;
	color: #333;
}

.recruit__cta {
	padding-bottom: 3.125rem;
	padding-top: 3.125rem;
	text-align: center;
}

.recruit__catch {
	display: inline-block;
	font-size: 1.625rem;
	font-weight: bold;
	margin-bottom: 1.25rem;
	position: relative;
}

.recruit__catch::before {
	background-color: #fff;
	content: "";
	height: 0.125rem;
	left: -3.75rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(60deg);
	width: 3.75rem;
}

.recruit__catch::after {
	background-color: #fff;
	content: "";
	height: 0.125rem;
	position: absolute;
	right: -3.75rem;
	top: 50%;
	transform: translateY(-50%) rotate(-60deg);
	width: 3.75rem;
}

.recruit__catch span {
	color: #fff100;
	font-size: 2rem;
}

.recruit__explainWrap {
	margin-top: 0.9375rem;
}

.recruit__explain {
	font-size: 1rem;
}

.recruit__overview {
	padding-bottom: 6.25rem;
	padding-top: 6.25rem;
	position: relative;
	text-align: center;
}

.recruit__overviewImage {
	bottom: 0;
	height: auto;
	position: absolute;
	width: 15.625rem;
}

.recruit__overviewImage img {
	height: 100%;
	width: 100%;
}

.recruit__overviewImage.left {
	left: 50%;
	transform: translateX(-175%);
}

.recruit__overviewImage.right {
	right: 50%;
	transform: translateX(175%);
}

.recruit__heading {
	align-items: center;
	display: flex;
	font-size: 2rem;
	justify-content: center;
	text-align: center;
}

.recruit__heading p {
	position: relative;
	z-index: 10;
}

.recruit__heading span {
	background: radial-gradient(circle farthest-side, #fff, #fff 30%, transparent 30%, transparent);
	background-size: 0.625rem 0.625rem;
	display: inline-block;
	height: 0.625rem;
	margin-bottom: 2.5rem;
	width: 3.75rem;
}

.recruit__heading span.left {
	margin-right: 0.9375rem;
	transform: rotate(60deg);
}

.recruit__heading span.right {
	margin-left: 0.9375rem;
	position: relative;
	transform: rotate(-60deg);
}

.recruit__heading span.right::after {
	background-image: url(../img/fish-white.svg);
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 50%;
	content: "";
	height: 6.5625rem;
	position: absolute;
	right: -1.875rem;
	transform: rotate(90deg);
	width: 12.5rem;
	z-index: -1;
}

.recruit__heading::before {
	background: radial-gradient(circle farthest-side, #fff, #fff 30%, transparent 30%, transparent);
	background-size: 0.625rem 0.625rem;
	content: '';
	display: inline-block;
	height: 0.625rem;
	margin-right: -4.6875rem;
	margin-top: 1.25rem;
	transform: rotate(60deg);
	width: 5rem;
}

.recruit__heading::after {
	background: radial-gradient(circle farthest-side, #fff, #fff 30%, transparent 30%, transparent);
	background-size: 0.625rem 0.625rem;
	content: '';
	display: inline-block;
	height: 0.625rem;
	margin-left: -4.6875rem;
	margin-top: 1.25rem;
	transform: rotate(-60deg);
	width: 5rem;
}

.recruit__heading.white span {
	background: radial-gradient(circle farthest-side, #0397de, #0397de 30%, transparent 30%, transparent);
	background-size: 0.625rem 0.625rem;
}

.recruit__heading.white span.right::after {
	background-image: url(../img/fish.svg);
}

.recruit__heading.white::before {
	background: radial-gradient(circle farthest-side, #0397de, #0397de 30%, transparent 30%, transparent);
	background-size: 0.625rem 0.625rem;
}

.recruit__heading.white::after {
	background: radial-gradient(circle farthest-side, #0397de, #0397de 30%, transparent 30%, transparent);
	background-size: 0.625rem 0.625rem;
}

.recruit__overviewText {
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 2;
	margin-top: 3.75rem;
}

.recruit__recommend {
	padding-bottom: 6.25rem;
	padding-top: 6.25rem;
}

.recruit__media {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 3.75rem;
}

.recruit__mediaImage {
	height: auto;
	margin-right: 6.25rem;
	width: 13.75rem;
}

.recruit__mediaImage img {
	height: 100%;
	width: 100%;
}

.recruit__mediaBody p {
	font-size: 1.125rem;
	font-weight: bold;
	margin-top: 1.25rem;
	padding-left: 2.1875rem;
	position: relative;
}

.recruit__mediaBody p:first-child {
	margin-top: 0;
}

.recruit__mediaBody p::after {
	background-image: url(../img/check.svg);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 1.25rem;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1.25rem;
}

.recruit__service {
	padding-bottom: 6.25rem;
	padding-top: 6.25rem;
	position: relative;
}

.recruit__serviceBackImage {
	bottom: 0;
	height: auto;
	position: absolute;
	width: 12.5rem;
}

.recruit__serviceBackImage img {
	height: 100%;
	width: 100%;
}

.recruit__serviceBackImage.left {
	left: 50%;
	transform: translateX(-200%);
}

.recruit__serviceBackImage.right {
	right: 50%;
	transform: translateX(200%);
}

.recruit__cardUnit {
	display: flex;
	justify-content: center;
	margin-top: 3.75rem;
}

.recruit__card {
	background-color: #fff;
	border: 0.125rem solid #333;
	color: #333;
	margin-right: 1.875rem;
	padding: 1.875rem;
	width: 22.1875rem;
}

.recruit__card:last-child {
	margin-right: 0;
}

.recruit__cardHead {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.recruit__cardIcon {
	height: auto;
	margin-bottom: -1.25rem;
	margin-top: -2.5rem;
	width: 100%;
}

.recruit__cardIcon img {
	height: 100%;
	width: 100%;
}

.recruit__cardExplain {
	font-size: 1rem;
}

.recruit__serviceText {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.75;
	margin-top: 3.75rem;
	text-align: center;
}

.recruit__serviceText span {
	color: #fff100;
	position: relative;
}

.recruit__serviceText span::after {
	background-color: #fff100;
	bottom: -0.3125rem;
	content: "";
	height: 0.125rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 100%;
}

.section-heading {
	font-family: "heading";
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 0.075em;
	position: relative;
	text-align: center;
}

.section-heading span {
	font-size: 1.5rem;
}

.section-heading::after {
	background-image: url(../img/heading-line.png);
	background-repeat: no-repeat;
	background-size: cover;
	bottom: -0.78125rem;
	content: "";
	height: 4.375rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 34.6875rem;
}

.section-heading.mini::after {
	background-image: url(../img/heading-line-mini.png);
	width: 24.375rem;
}

.section-heading.blue {
	color: #4986d9;
}

.section-heading.blue::after {
	background-image: url(../img/heading-line-blue.png);
}

.section-heading.member-page {
	font-size: 1.9375rem;
}

.section-heading.member-page::after {
	height: 4.75rem;
	width: 37.5rem;
}

/* Loading背景画面設定　*/

#splash {
	background: #0397de;
	bottom: 0;
	color: #fff;
	height: 100vh;
	left: 0; /*fixedで全面に固定*/
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 100vw;
	z-index: 9999;
}

/* Loading画像中央配置　*/

#splash_logo {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/

#splash_logo img {
	height: auto;
	width: 9.375rem;
}

.fadeIn {
	-webkit-animation-name: fadeInAnime;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-name: fadeInAnime;
	opacity: 0;
}

.p-test {
	color: red;
	font-size: 3.125rem;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media (min-width: 1000px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1440px) {

.u-hidden-pc {
	display: none;
}

}

@media screen and (max-width: 1023px) {

html {
	font-size: 1.6vw;
}

.l-inner {
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.slider img {
	width: 82.5vw;
}

}

@media screen and (max-width: 767px) {

html {
	font-size: 16px;
}

.article {
	max-width: 22.8125rem;
	padding: 1.25rem;
}

.article__information {
	padding-bottom: 1.25rem;
}

.article__contentWrap p {
	font-size: 1rem;
}

.breadcrumbs {
	padding-left: 0.625rem;
	padding-right: 0.9375rem;
}

.breadcrumbs .trail-item {
	font-size: 0.75rem;
}

.btn {
	font-size: 0.875rem;
}

.btn.block {
	width: 20.9375rem;
}

.contact__btns {
	flex-direction: column;
}

.contact__btn {
	height: 10.625rem;
	width: 100%;
}

.contact__btn:last-child {
	margin-top: 1.875rem;
}

.contact__text {
	font-size: 1.75rem;
}

.flow-nav {
	display: none;
}

.footer__nav {
	flex-direction: column;
	margin-left: 2.5rem;
}

.footer__navLeft {
	flex-direction: column;
}

.footer__navHead {
	font-size: 1.125rem;
	padding-left: 0.625rem;
}

.footer__navListWrap {
	margin-right: 0;
	margin-top: 2.5rem;
}

.footer__navItem {
	font-size: 0.875rem;
}

.fv {
	margin-top: 4.375rem;
	padding-top: 0.3125rem;
}

.slider img {
	-o-object-fit: cover;
	height: 25rem;
	object-fit: cover;
	width: 90vw;
}

.openbtn {
	display: block;
}

.header {
	left: 0;
	padding: 0.3125rem 0.9375rem;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}

.header__inner {
	justify-content: space-between;
}

.header__logo {
	position: static;
	width: 9.375rem;
}

.header__nav {
	display: none;
}

.header__snsList {
	display: none;
}

.information {
	max-width: 22.8125rem;
}

.information a {
	padding: 1.875rem 1.875rem 3.125rem 1.875rem;
}

.information__media {
	flex-direction: column;
}

.information__author {
	border: none;
	margin-right: 0;
	padding-right: 0;
	width: 100%;
}

.information__introduce {
	margin-top: 1.875rem;
}

.instagram__imageItem {
	height: 9.375rem;
	width: 9.375rem;
}

.instagram__button {
	font-size: 0.875rem;
}

.member-blog__item {
	margin-right: 2%;
	width: 49%;
}

.member-blog__item:nth-of-type(3n) {
	margin-right: 2%;
}

.member-blog__item:nth-of-type(2n) {
	margin-right: 0;
}

.member-blog__image .new {
	width: 3.75rem;
}

.member-blog__image {
	height: 6.6875rem;
}

.member-blog__date {
	font-size: 0.875rem;
}

.member-blog__title {
	font-size: 0.875rem;
}

.member-blog__name {
	font-size: 0.875rem;
}

.member-introduce {
	margin-top: 3.125rem;
}

.member-introduce__text .sp {
	display: block;
}

.member-introduce__text {
	font-size: 1rem;
}

.member-introduce__linkText {
	font-size: 0.875rem;
}

.member-introduce__item {
	margin-right: 4%;
	width: 48%;
}

.member-introduce__item:nth-of-type(3n) {
	margin-right: 4%;
}

.member-introduce__item:nth-of-type(2n) {
	margin-right: 0rem;
}

.member-introduce__link {
	width: 100%;
}

.member-introduce__image {
	height: 6.875rem;
}

.member-introduce__name {
	font-size: 0.875rem;
}

.member-introduce__from {
	font-size: 0.875rem;
}

.member-introduce__favorite {
	font-size: 0.875rem;
}

.member-introduce__arrow {
	font-size: 0.75rem;
	margin-top: 0.625rem;
}

.member::after {
	height: 4.78125rem;
	transform: translate(-11.25rem, -50%);
	width: 17.4375rem;
}

.news__item {
	font-size: 0.875rem;
}

.news__date {
	margin-right: 1.5625rem;
}

.news__bannerArea {
	flex-direction: column;
}

.news__banner {
	margin-bottom: 1.25rem;
	margin-right: 0;
	width: 100%;
}

.pickup__media {
	flex-direction: column;
}

.pickup__image .new {
	width: 3.75rem;
}

.pickup__image {
	height: 13.75rem;
	margin-right: 0;
	width: 100%;
}

.pickup__body {
	margin-top: 1.25rem;
	padding-left: 0.625rem;
	width: 100%;
}

.pickup__date {
	font-size: 1.125rem;
}

.pickup__title {
	font-size: 1.125rem;
}

.pickup__description {
	font-size: 0.875rem;
}

.pickup__author {
	margin-top: 1.25rem;
}

.pickup::after {
	height: 5.0625rem;
	transform: translate(1.25rem, -50%);
	width: 9.9375rem;
}

.profile-btn a {
	font-size: 1.5rem;
	height: 8.75rem;
	width: 90%;
}

.profile-btn a .sp {
	display: block;
}

.profile-contents {
	margin-top: 2.5rem;
	padding-bottom: 5rem;
}

.profile-contents__media {
	flex-direction: column;
	margin-top: 3.75rem;
}

.profile-contents__slider {
	height: 31.25rem;
	margin-right: 0;
	width: 100%;
}

.profile-contents__image {
	height: 26.25rem;
	width: 21.5625rem;
}

.profile-contents__body {
	padding: 1.875rem;
	width: 100%;
}

.profile-contents__name {
	font-size: 1.5rem;
}

.profile-introduce {
	padding-bottom: 5rem;
	padding-top: 5rem;
}

.profile-introduce__content {
	padding: 1.875rem;
}

.profile-introduce__text {
	font-size: 1rem;
}

.profile-link {
	padding-bottom: 5rem;
	padding-top: 5rem;
}

.profile-link__list {
	padding: 1.875rem 0rem 0 1.875rem;
}

.profile-link__item {
	margin-right: 4%;
	width: 48%;
}

.profile-link__item:nth-of-type(2n) {
	margin-right: 0;
}

.profile-link__item.amazon {
	width: 60%;
}

.profile-link__item a {
	padding-left: 2.5rem;
}

.profile-link__item.only-link a {
	padding-left: 0rem;
}

.recommend__heading {
	font-size: 1.5rem;
}

.recommend__bannerArea {
	flex-direction: column;
}

.recommend__banner {
	margin-bottom: 1.25rem;
	margin-right: 0;
	width: 100%;
}

.recommend .recommend-blog {
	margin-bottom: 1.25rem;
	margin-left: auto;
	margin-right: auto;
	width: 21.5625rem;
}

.recommend .recommend-blog .member-blog__image {
	height: 12.5rem;
}

.section-heading {
	font-size: 1.25rem;
}

.section-heading span {
	font-size: 1rem;
}

.section-heading::after {
	height: 2.6875rem;
	width: 21.25rem;
}

.section-heading.mini::after {
	width: 15rem;
}

.section-heading.member-page::after {
	display: none;
}

.section-heading.member-page {
	border-bottom: 0.125rem dashed #fff;
	font-size: 1.375rem;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0.3125rem;
	width: 90%;
}

.p-test {
	color: green;
	font-size: 1.875rem;
}

.u-hidden-sp {
	display: none;
}

}

@-webkit-keyframes updown {

0% {
	transform: translate(0, 0);
}

50% {
	transform: translate(0, -0.9375rem);
}

100% {
	transform: translate(0, 0);
}

}

@keyframes updown {

0% {
	transform: translate(0, 0);
}

50% {
	transform: translate(0, -0.9375rem);
}

100% {
	transform: translate(0, 0);
}

}

@-webkit-keyframes fadeInAnime {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes fadeInAnime {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

