.btn {
  transition: all .3s;
  &__wrap {
    margin-top: rem(70);
    text-align: center;
  }
  font-size: rem(16);
  font-family: "heading";
  padding: rem(7) rem(40);
  border: rem(3) solid #fff;
  border-radius: rem(20);
  @include mq(sp){
    font-size: rem(14);
  }
  &.block {
    display: block;
    width: rem(400);
    border-radius: rem(50);
    margin-right: auto;
    margin-left: auto;
  }
  &:hover {
    color: #0397de;
    background-color: #fff;
  }
}