.contact {
  background-color: #fff;
  color: #333;
  &__accordion-area{
    list-style: none;
    width: 96%;
    max-width: rem(900);
    margin:0 auto;
    li {
      margin: rem(10) 0;
    }
    section {
      border: rem(1) solid #ccc;
    }
  }
  &__title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 3% 3% 3% rem(50);
    transition: all .5s ease;
  }
  &__box {
    display: none;/*はじめは非表示*/
    background: #f3f3f3;
    margin:0 3% 3% 3%;
    padding: 3%;
  }
}