.contact {
  background-color: #fff;
  color: #333;
  padding: rem(100) rem(15);
  &__content {
    text-align: center;
  }
  &__complete {
    font-size: rem(32);
    .sp {
      display: none;
      @include mq(sp){
        display: block;
      }
    }
    @include mq(sp){
      font-size: rem(24);
    }
  }
  &__text1 {
    margin-top: rem(60);
    font-size: rem(18);
    .sp {
      display: none;
      @include mq(sp){
        display: block;
      }
    }
    @include mq(sp){
      font-size: rem(16);
    }
  }
  &__text2 {
    margin-top: rem(20);
    font-size: rem(18);
    @include mq(sp){
      font-size: rem(16);
    }
    a {
      color: #4986d9;
      text-decoration: underline;
    }
    span {
      color: red;
    }
    .sp {
      display: none;
      @include mq(sp){
        display: block;
      }
    }
  }
  &__radioWrap {
    margin-top: rem(60);
    max-width: rem(790);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  &__radioList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: rem(1) dashed #4986d9;
    padding-bottom: rem(20);
  }
  .mw_wp_form .horizontal-item + .horizontal-item {
    margin-left: rem(20);
    margin-bottom: rem(20);
    @include mq(sp){
      margin-left: rem(15);
      margin-bottom: rem(15);
    }
  }
  .mw_wp_form .horizontal-item:nth-of-type(3n) + .horizontal-item {
    margin-left: rem(0);
    @include mq(sp){
      margin-left: rem(15);
    }
  }
  .mw_wp_form .horizontal-item:nth-of-type(2n) + .horizontal-item {
    @include mq(sp){
      margin-left: rem(0);
    }
  }
  span.mwform-radio-field {
    text-align: center;
  }
  .mwform-radio-field-text {
    font-size: rem(18);
    padding-top: rem(20);
    padding-bottom: rem(20);
    display: block;
    width: rem(250);
    border: rem(1) solid #ccc;
    @include mq(sp){
      width: rem(165);
    }
  }
  input[type="radio"]:checked + span {
      border-color: #4986d9;
  }
  &__accordion-area{
    width: 100%;
    max-width: rem(780);
    margin:0 auto;
  }
  &__head {
    width: 100%;
    height: 0;
  }
  &__title {
    font-size: rem(20);
    font-weight: bold;
    padding: rem(30) 0 rem(20) rem(40);
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-35%);
      content: '';
      width: rem(30);
      height: rem(30);
      background-image: url(../img/fishing.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.need {
      &::after {
        content: '※';
        color: red;
        // font-size: rem(14);
        font-size: rem(20);
        @include mq(sp){
          font-size: rem(18);
        }
      }
    }
    span {
      font-size: rem(14);
    }
    @include mq(sp){
      font-size: rem(18);
    }
  }
  &__attention {
    font-size: rem(14);
  }
  &__box {
    // display: none;/*はじめは非表示*/
    border-bottom: rem(1) dashed #4986d9;
    padding-bottom: rem(40);  
    input {
      width: 100%;
    }
    input[type="submit"] {
      display: block;
      width: rem(250);
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      padding-top: rem(10);
      padding-bottom: rem(10);
      font-size: rem(20);
      margin-top: rem(40);
      border: rem(1) solid #4986d9;
      font-family: "heading";
      background-color: #4986d9;
      color: #fff;
      transition: all .3s;
      border-radius: rem(25);
      cursor: pointer;
      pointer-events: all;
      &:hover {
        color: #4986d9;
        background-color: #fff;
      }
    }
    input:disabled {
      background-color: #ccc;
      border-color: #ccc;
      pointer-events: none;
    }
  }
  &__birthday {
    display: flex;
    align-items: center;
    select {
      width: rem(100);
      margin-right: rem(10);
      @include mq(sp){
        width: rem(70);
        padding-right: rem(20);
      }
    }
    .year-month-day {
      margin-right: rem(20);
      font-size: rem(18);
      @include mq(sp){
        font-size: rem(16);
      }
    }
  }
  // &__nextBtn {
  //   padding-top: rem(10);
  //   padding-bottom: rem(10);
  //   font-size: rem(16);
  //   text-align: center;
  //   width: rem(150);
  //   margin-right: auto;
  //   margin-left: auto;
  //   margin-top: rem(40);
  //   border: rem(1) solid #4986d9;
  //   font-family: "heading";
  //   background-color: #4986d9;
  //   color: #fff;
  //   transition: all .3s;
  //   border-radius: rem(25);
  //   cursor: pointer;
  //   &:hover {
  //     color: #4986d9;
  //     background-color: #fff;
  //   }
  //   @include mq(sp){
  //     font-size: rem(14);
  //   }
  // }
  // &__skipBtn {
  //   font-size: rem(16);
  //   text-align: center;
  //   margin-top: rem(20);
  //   font-family: "heading";
  //   color: #333;
  //   p {
  //     display: inline;
  //     text-decoration: underline;
  //     transition: all .3s;
  //     cursor: pointer;
  //     &:hover {
  //       color: #4986d9;
  //     }
  //   }
  // }
}