.flow-nav {
  width: 100%;
  padding: rem(5) rem(20);
  background-color: #fff;
  color: #333;
  font-family: 'MyFont';
  position: fixed;
  left: 0;
  right: 0;
  top: -100%;
  transition: all .3s;
  z-index: 9999;
  @include mq(sp){
    padding: rem(15);
    overflow-x: scroll;
  }
  &__inner {
    max-width: rem(1080);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    justify-content: space-between;
    @include mq(sp){
      width: rem(600);
    }
  }
  &__logo {
    display: block;
    width: rem(150);
    height: auto;
    left: 0;
    top: rem(-15);
    img {
      width: 100%;
      height: 100%;
    }
    @include mq(sp){
      display: none;
    }
  }
  &__nav {
    margin-right: rem(25);
    @include mq(sp){
      margin-right: 0;
    }
  }
  &__navList {
    display: flex;
    align-items: center;
  }
  &__navItem {
    padding: 0 rem(15);
    font-size: rem(16);
  }
  &__snsList {
    display: flex;
    align-items: center;
    @include mq(sp){
      display: none;
    }
  }
  &__sns {
    width: rem(35);
    height: auto;
    margin-right: rem(15);
    &:last-child {
      margin-right: 0;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__arrow {
    display: none;
    @include mq(sp){
      display: block;
      position: fixed;
      top: -100%;
      right: rem(5);
      width: rem(30);
      height: auto;
      transition: all .3s;
    }
  }
}