.header {
  padding: rem(20);
  background-color: #fff;
  color: #333;
  font-family: 'MyFont';
  @include mq(sp){
    padding: rem(5) rem(15);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
  }
  &__inner {
    max-width: rem(1080);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    @include mq(sp){
      justify-content: space-between;
    }
  }
  &__logo {
    display: block;
    width: rem(240);
    height: auto;
    position: absolute;
    left: 0;
    top: rem(-15);
    img {
      width: 100%;
      height: 100%;
    }
    @include mq(sp){
      position: static;
      width: rem(150);
    }
  }
  &__nav {
    margin-right: rem(25);
    @include mq(sp){
      display: none;
    }
  }
  &__navList {
    display: flex;
    align-items: center;
  }
  &__navItem {
    padding: 0 rem(15);
    font-size: rem(16);
  }
  &__snsList {
    display: flex;
    align-items: center;
    @include mq(sp){
      display: none;
    }
  }
  &__sns {
    width: rem(35);
    height: auto;
    margin-right: rem(15);
    &:last-child {
      margin-right: 0;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}