.message {
  background-color: #4986d9;
  padding-top: rem(100);
  padding-bottom: rem(100);
  &__main {
    margin-top: rem(60);
    padding: rem(40);
    max-width: rem(700);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    border: rem(2) solid #333;
  }
  &__text {
    color: #333;
    font-size: rem(16);
    font-weight: bold;
  }
}