.profile-btn {
  margin-top: rem(60);
  a {
    transition: all .3s;
    margin-right: auto;
    margin-left: auto;
    padding: rem(20);
    width: rem(500);
    height: rem(150);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: rem(32);
    line-height: 1.5;
    font-family: "MyFont";
    text-align: center;
    color: #4986d9;
    &::after {
      content: "";
      width: rem(30);
      height: rem(30);
      background-image: url(../img/arrow.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: rem(10);
      bottom: rem(10);
    }
    @include mq(sp){
      font-size: rem(28);
      width: 100%;
      height: rem(170);
    }
    &:hover {
      box-shadow: 0 rem(7) rem(10) rgba(0, 0, 0, 0.3);
      border-color: transparent;
    }
  }
}